#block-overlay_contact-overlay_contact {
    
    /* initially overlay is hidden */
    display:none;
    /* 
       width after the growing animation finishes
       height is automatically calculated
       */
    width:800px;
    
    /* some padding to layout nested elements nicely  */
    padding:55px;

    /* place overlay on top of other elements */
    z-index:1000;
    
    /* a little styling */  
    font-size:11px;
    width:600px;
    height:600px;
    background: #fff;

    /* CSS3 styling */
    -moz-box-shadow: 0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}

#triggers {
    cursor:pointer;
}

/* default close button positioned on upper right corner */
#block-overlay_contact-overlay_contact .close {
    background: url(http://onsip.com/files/images/overlay-close.png) ;
    position:absolute; 
    right:-12px; 
    top:-9px; 
    cursor:pointer;
    height:28px;
    width:28px;
}
